.item {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 1.8rem !important;
  font-weight: 400 !important;
}

.color {
  position: absolute;
  left: -1.8rem;

  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
}
