@import "../../styles/scss/mixins";

.section {
  @include md() {
    td:not(:last-child) {
      padding: 0;
    }

    span {
      &:last-child {
        display: none;
      }
    }
  }
}

.fab {
  position: fixed !important;
  bottom: 35px;
  right: 35px;
}

.taskItems {
  margin-left: 16px;
}
