@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark !important;
  }
}

.focus {
  background-color: salmon;
}
.shortBreak {
  background-color: lightgreen;
}
.longBreak {
  background-color: lightblue;
}