.bar {
  & > div {
    background-color: #272727;
    padding: 0 24px;
  }

  div {
    display: flex;
    align-items: center;
  }

  button {
    margin-left: auto;
  }
}

.pomoFields, .fixedFields {
  & > div {
    margin: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}

.form {
  & > div {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
