.content {
  form {
    display: flex;
    align-items: center;
  }
}

.inputWrapper {
  width: 25px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 25px;
  margin-right: 25px;
}

.input {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%);
}
